
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
 
}

.image-section {
  
    flex: 1;
  display: flex;
  justify-content: center;
  background-color: #e4f0fe;
  padding: 0;
  overflow: hidden; 
}

.image-section img {
  max-width: 110%;
  height: auto;
  width: 100%;
}

.form {
   flex: 1;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  background-color: #e8f3ff ;
  
  
}

.form h1 {
 font-size: 38px;
  font-weight: 800;
  margin: 0;
   margin-bottom:10px;
  color: rgb(12, 12, 110);
   display: flex;
   justify-content: center;


}

.form h1:nth-child(2) {
  margin-bottom: 40px;
  font-size: 20px;
  color:rgb(12, 12, 110) ;
  display: flex;
   justify-content: center;
}


.form form {
   display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.3rem;
  width: 100%;
}



.forget-link {
  color: #0f4074;
  font-size: 18px;
  text-decoration: none;
 
}

.remember-forget {
  display: flex;
  justify-content: space-between;
  width:65%;
  align-items: center;
  gap: 30%; 
  margin-bottom: 10PX;
  margin-top: 7px;
}

.forget-link:hover {
  text-decoration: underline;
} 

.checkbox {
  font-size: 14;
  color:rgb(12, 12, 110);
   display: inline-flex;
  align-items: center;
  gap:8px;
  margin:0;

  
}

.checkbox input{
  width:18px;
  height:18px;
  cursor:pointer;
}

.checkbox label {
  font-size:16px;
  color: rgb(12, 12, 110);
  cursor:pointer;

margin: 0;
}


 .form form button {
   padding: 14px;
  background-color: #0b539f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 25px;
  width:65%;
  margin-top: 2px;
  margin-bottom:10px;
 
}

.form button:hover {
  background-color: #006ae0;
}
.signup-link {
  color: #007bff;
  margin-left: 5px;
  text-decoration: none;
  font-weight: 600;
}

.signup-link:hover {
  text-decoration: underline;
}

.input-icon {
  position: relative;
  width:65%;
  margin:0 auto;

}

.input-icon i {
  position: absolute;
  left: 12px;
   top: 50%;
   transform: translateY(-50%);
  color: hwb(0 48% 51%);
  font-size: 20px;
  pointer-events: none; 
}

.input-icon input{
  width: 100%;
  padding: 15px 15px 15px 40px;
  border: 1.5px solid hwb(204 28% 16%);
  border-radius: 10px;
  font-size: 16px;
  background-color: hwb(200 93% 6%);
  border-radius: 10px;
  display:flex;
  justify-content: center;
} 


