.orders-container {
  padding: 25px;
  background: #f6f7fb;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
   font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 700;
 color: rgb(3, 29, 113);
  letter-spacing: 0.5px;
}

.loading,
.empty {
  text-align: center;
  color: gray;
}

.order-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  text-transform: capitalize;
}

.status.pending {
  background: #fff3cd;
  color: #856404;
}

.status.verified {
  background: #d4edda;
  color: #155724;
   font-family: "Inter",sans-serif
}

.status.rejected {
  background: #f8d7da;
  color: #721c24;
   font-family: "Inter",sans-serif
}

.status.dispensed {
  background: #cce5ff;
  color: #004085;
   font-family: "Inter",sans-serif
}

.items ul {
  padding-left: 18px;
   font-family: "Inter",sans-serif;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
   font-family: "Inter",sans-serif
}

.accept {
  background: #28a745;
  color: white;
   font-family: "Inter",sans-serif
}

.reject {
  background: #dc3545;
  color: white;
   font-family: "Inter",sans-serif
}

.dispense {
  background: #007bff;
  color: white;
   font-family: "Inter",sans-serif
}